body {
    background-color: #ADADAD;
}

.login-container {
    min-height: 600px;
}

.registro-container {
    max-width: 1000px;
}

@media (max-width: 1200px) {
    .logo-derecha {
        display: none !important;
    }

    .formulario-izquierda {
        width: 100% !important;
        padding: 0 !important;
    }
}